html, body {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
    max-width: 100%;
    font-family: 'Rubik', sans-serif;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.publicacion-img {
    position: relative;
}

.publicacion-img:hover .overlay {
    opacity: 1;
}

.overlay .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(75, 156, 93, 0.5);
}

.ventajas-desventajas ul , .problematica ul, .beneficios ul {
    list-style: none;
    padding: 0;
}

.ventajas-desventajas li, .problematica li, .beneficios li {
    padding-left: 1.3em;
}

.ventajas-desventajas li:before {
    content: "\f105";
    font-family: "Font Awesome\ 5 Free";
    display: inline-block;
    font-weight: 900;
    width: 1.3em;
    color: #6c757d;
}

.problematica li:before {
    content: "\f06a";
    font-family: "Font Awesome\ 5 Free";
    display: inline-block;
    font-weight: 900;
    width: 1.3em;
    color: #6c757d;
}

.beneficios li:before {
    content: "\f4d8";
    font-family: "Font Awesome\ 5 Free";
    display: inline-block;
    font-weight: 900;
    width: 1.3em;
    color: #6c757d;
}

.bg-dark, .dropdown-item.active, .dropdown-item:active, .btn-dark {
    background-color: #252525!important;
}


.bg-white {
    background-color: #f9f9f9!important;
}

.text-white {
    color: #f9f9f9!important
}

.portada {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
}

a {
    color: #438a5e;
}

a:hover {
    color: #336245;
}